dist/
node_modules/
tmp/
pkg/
Umbraco.Test/
.sass-cache/
ContentDashboard/OrcContentDashboard/packages/
ContentDashboard/OrcContentDashboard/bin/
ContentDashboard/OrcContentDashboard/obj/
ContentDashboard/OrcContentDashboard/.vs/
ContentDashboard/OrcContentDashboard/App_Data/NuGetBackup/
